<h2> Hey there! </h2>

<p>It's that time of the week again! You might wanna check if the Tax Treasurer has added anything to the database.</p>

<%= link_to "Link to your bookmarks", business_url(@user) %>