<h2> Hey there! </h2>

<p>Looks like there's been a change in your business registration.
You might wanna check that out.</p>

<%= link_to "Link to your business info with the changes", business_url(@user.business) %>